{% extends 'main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutstyle.css' %}">
    <div class="container about">

        <h1>LectureMe</h1>
<br>
<br>
        <h2>Our Story</h2>
        <p>
        The dawn of AI giants like ChatGPT, Claude, and Bard marked a paradigm shift in the world of artificial intelligence. As industries worldwide raced to incorporate these revolutionary models, the discourse around the pros and cons of AI deepened. While artificial intelligence harbors enormous potential, unchecked deployment could lead to unforeseen consequences. Born from this realization, LectureMe was established to merge AI and education in a safe and responsible manner. Our ethos? Make learning interactive, universally accessible, and delightfully simple.
        </p>

        <h2>Why?</h2>
        <p>
        The seed of our idea was sown when a dedicated professor at New York University pointed out a prevailing challenge: the incessant flood of emails in a professor’s inbox. Burdened with an array of questions about lectures, resources, and course content, professors were constantly juggling between teaching and responding. Thus, LectureMe was envisaged to serve as a bridge, enabling students to dive deeper into their lectures and hone their skills, while giving professors some much-needed breathing space.
        </p>

        <h2>Our Services</h2>
        <strong>Interactive Chat:</strong>
        <p>
        Empower your learning experience with our chat feature. We've trained ChatGPT exclusively on your lecture materials, encompassing slides and transcripts. Pose your questions and get answers just as if you’re conversing with your professor. We ensure the AI retains the essence of your classroom, offering insights based on the exact content covered during lectures.
        </p>

        <strong>Strategic Study Plan:</strong>
        <p>
        With the lecture materials as our foundation, we craft an exhaustive study guide. This roadmap is tailored to pinpoint key takeaways and present a clear study trajectory, ensuring you grasp every intricate detail of the lecture.
        </p>

        <strong>Practice Quiz:</strong>
        <p>
        Augment your understanding with our AI-curated practice quizzes. Tailored for each lecture, these quizzes are invaluable tools for assessment preparation or a swift knowledge check.
        </p>

        <strong>Precision Transcript:</strong>
        <p>
        Our transcripts are a cut above the rest. Leveraging state-of-the-art speech-to-text models, we ensure accuracy and comprehensiveness, catering to students with a penchant for textual learning.
        </p>

        <h2>Meet The Team</h2>

        <div id="team">
            <h4>Ibrahim Sheikh, Founder</h4>
            <p>
                Ibrahim Sheikh is a senior at New York University, majoring in Computer Science and Data Science. Born in New York, he spent his formative years in Islamabad, Pakistan. At NYU, Ibrahim collaborates with Dr. Pascal Wallisch as a research assistant in the Fox Lab. His professional experience includes a machine learning-focused internship at Citi and roles at real estate firm One Constitution Avenue and as a student fundraiser.            </p>
        <br>
        <br>
            </div>
    </div>
</body>
</html>


{% endblock content %}
