{% extends 'main.html' %}

{% load static %}
{% block content %}

    <div class="home-section"  >
      <div class="home-container" data-sal="fade" data-sal-duration="500">
        <p class="header-text-block">Question, Converse, Learn, Repeat.</p>
        <h1 class="header-heading">Borderless, Barrier-Free Education</h1>
        <div class="home-img">
          <img class="h-img" src="{% static 'images/home-img.svg' %}" />
        </div>
      </div>
      <div class="home-container" data-sal="fade" data-sal-duration="500">
        <div class="Rtable Rtable--5cols Rtable--collapse">
          <div class="Rtable-row Rtable-row--head">
            <div class="Rtable-cell date-cell column-heading"></div>
            <div class="Rtable-cell column-heading">Traditional LLMs</div>
            <div class="Rtable-cell access-link-cell column-heading">
              Plutarch LLMs
            </div>
          </div>

          <div class="Rtable-row">
            <div class="Rtable-cell date-cell">
              <div class="Rtable-cell--heading"></div>
              <div class="Rtable-cell--content date-content">
                Context Specific
              </div>
            </div>
            <div class="Rtable-cell topic-cell">
              <div class="Rtable-cell--content title-content">
                <img class="cross" src="{% static 'images/cross.svg' %}" alt="cross" />
              </div>
            </div>
            <div class="Rtable-cell access-link-cell">
              <div class="Rtable-cell--heading">Access Link</div>
              <div class="Rtable-cell--content access-link-content">
                <img class="cross" src="{% static '/images/tick.svg' %}" alt="tick" />
              </div>
            </div>
          </div>

          <div class="Rtable-row is-striped">
            <div class="Rtable-cell date-cell">
              <div class="Rtable-cell--heading"></div>
              <div class="Rtable-cell--content date-content">
                Understands level of knowledge required
              </div>
            </div>
            <div class="Rtable-cell topic-cell">
              <div class="Rtable-cell--content title-content">
                <img class="cross" src="{% static '/images/cross.svg' %}" alt="cross" />
              </div>
            </div>
            <div class="Rtable-cell access-link-cell">
              <div class="Rtable-cell--heading">Access Link</div>
              <div class="Rtable-cell--content access-link-content">
                <img class="cross" src="{% static '/images/tick.svg' %}" alt="tick" />
              </div>
            </div>
          </div>

          <div class="Rtable-row">
            <div class="Rtable-cell date-cell">
              <div class="Rtable-cell--heading"></div>
              <div class="Rtable-cell--content date-content">
                Visual and Textual Understanding
              </div>
            </div>
            <div class="Rtable-cell topic-cell">
              <div class="Rtable-cell--content title-content">
                <img class="cross" src="{% static '/images/cross.svg' %}" alt="cross" />
              </div>
            </div>
            <div class="Rtable-cell access-link-cell">
              <div class="Rtable-cell--heading">Access Link</div>
              <div class="Rtable-cell--content access-link-content">
                <img class="cross" src="{% static '/images/tick.svg' %}" alt="tick" />
              </div>
            </div>
          </div>

          <div class="Rtable-row is-striped">
            <div class="Rtable-cell date-cell">
              <div class="Rtable-cell--heading"></div>
              <div class="Rtable-cell--content date-content">
                Learn With Confidence
              </div>
            </div>
            <div class="Rtable-cell topic-cell">
              <div class="Rtable-cell--content title-content">
                <img class="cross" src="{% static '/images/cross.svg' %}" alt="cross" />
              </div>
            </div>
            <div class="Rtable-cell access-link-cell">
              <div class="Rtable-cell--heading">Access Link</div>
              <div class="Rtable-cell--content access-link-content">
                <img class="cross" src="{% static '/images/tick.svg' %}" alt="tick" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-container" data-sal="fade" data-sal-duration="500">
        <h1 class="home-heading">A New Approach to Education</h1>
      </div>
      <div class="home-container approach-cont" data-sal="fade" data-sal-duration="500" >
        <div class="flexcol-md-6 new-approach">
          <h1>Making learning easier and quicker through AI</h1>
          <p>Ask questions about your lectures</p>
          <p>AI-generated practice quizzes</p>
          <p>Your personal tutor</p>
        </div>
        <div class="flexcol-md-6 new-approach-img">
          <img
            class="approach-img"
            src="{% static '/images/approach-img.png' %}"
            alt="approach-img"
          />
        </div>
      </div>
    </div>
<!-- 
    <div class="footer-section" data-sal="fade" data-sal-duration="500">
      <div class="container">
        <div class="logo-row">
          <img
            class="footer-logo"
            src="{% static '/images/logo-footer.svg' %}"
            alt="footer-logo"
          />
          <p>For those passionate to learn</p>
        </div>
      </div>
      <div class="container">
        <div class="footer-menus">
          <nav id="footer__nav" class="footer__nav">
            <ul>
              <li><a>Home</a></li>
              <li><a>About</a></li>
              <li><a>Courses</a></li>
            </ul>
          </nav>
          <div class="newsletter">
            <div class="newsletter-heading">Subscribe to our Newsletter</div>
            <div class="newsletter-container">
              <input
                type="email"
                class="form-field"
                placeholder="Enter your email"
              />
              <button class="submit-button">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container p-b">
        <nav class="footer-privacy-menu">
          <ul>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms & Conditions</a></li>
            <li><a>Credits</a></li>
          </ul>
        </nav>
      </div>
      <div class="container seperator">
        <div class="footer-website-name">
          <a>© 2024 Lecture Me </a>
          <a>Credits</a>
        </div>
      </div>
    </div> -->

    <script src="{% static 'css/sal.js' %}"></script>
    
    <script src="{% static 'css/custom.js' %}"></script>
    <script>
      sal({
        threshold: 0.5,
        once: true,
      });
    </script>
  </body>
</html>
<body></body>


{% endblock content %}