{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="lect-section">
      <div class="container">
        <div class="lect-main">
          <div class="cards">
            <div class="card-wrapper">
              <h2>{{courses.name}}</h2>
              <h6>{{courses.professor}}</h6>
              <p>
                {{courses.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h1 class="lect-heading">Lectures</h1>
      </div>
      <div class="container">
      {% if request.user == courses.created_by %}
        <a href="{% url 'addLecture' courses.id %}" class="lects-link">
          <div class="lects">
            <h6>Add Lecture</h6>
          </div>
        {% endif %}
        </a>
        {% for lecture in lectures %}
          {% if lecture.visible or request.user == courses.created_by %}
            <div class="lect-list">
              <!-- Make each lecture item a clickable link -->
              <a href="{% url 'view_lecture_content' lecture.id %}" class="lects-link">
                <div class="lects">
                  <h6>{{ lecture.name }}</h6>
                  <p>{{ lecture.date }}</p>
                  {% if request.user == courses.created_by %}
                  <a href="{% url 'editLecture' lecture.id %}" >
                      <h6>Edit</h6>
                    </a>
                    {% endif %}
              
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      
    </div>

    
    </div>

    <script src="{% static 'css/custom.js' %}"></script>
  </body>
</html>
<body></body>

{% endblock content %}
