{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="lect-section">
      <div class="container">
        <div class="lect-main">
          <div class="cards">
            <div class="card-wrapper">
              <h2>{{courses.name}}</h2>
              <h6>{{courses.professor}}</h6>
              <p>
                {{courses.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h1 class="lect-heading">Lectures</h1>
      </div>
      <div class="container">
      {% if request.user == courses.created_by %}
        <a href="{% url 'addLecture' courses.id %}" class="lects-link">
          <div class="lects">
            <h6>Add Lecture</h6>
          </div>
        {% endif %}
        </a>
        {% for lecture in lectures %}
          {% if lecture.visible or request.user == courses.created_by %}
            <div class="lect-list">
              <!-- Make each lecture item a clickable link -->
              <a href="{% url 'view_lecture_content' lecture.id %}" class="lects-link">
                <div class="lects">
                  <h6>{{ lecture.name }}</h6>
                  <p>{{ lecture.date }}</p>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      
    </div>

    <div class="footer-section">
      <div class="container">
        <div class="logo-row">
          <img
            class="footer-logo"
            src="{% static 'images/logo-footer.svg' %}"
            alt="footer-logo"
          />
          <p>For those passionate to learn</p>
        </div>
      </div>
      <div class="container">
        <div class="footer-menus">
          <nav id="footer__nav" class="footer__nav">
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Courses</li>
            </ul>
          </nav>
          <div class="newsletter">
            <div class="newsletter-heading">Subscribe to our Newsletter</div>
            <div class="newsletter-container">
              <input
                type="email"
                class="form-field"
                placeholder="Enter your email"
              />
              <button class="submit-button">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container p-b">
        <nav class="footer-privacy-menu">
          <ul>
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
            <li>Credits</li>
          </ul>
        </nav>
      </div>
      <div class="container seperator">
        <div class="footer-website-name">
          <a>© 2023 Lecture Me </a>
          <a>Credits</a>
        </div>
      </div>
    </div>

    <script src="{% static 'css/custom.js' %}"></script>
  </body>
</html>
<body></body>

{% endblock content %}
