{% extends 'main.html' %}

{% block content %} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">

<div id="page-content-wrapper">
    <div class="login-form-container"> 
        {% if page == 'login' %}
            <form method="POST" action="">
                {% csrf_token %}
        
                <label>Username: </label>
                <input type="text" name="username" placeholder="Username">
        
                <label>Password: </label>
                <input type="password" name="password" placeholder="Password">
        
                <input type="submit" value="Submit">

                <!-- Only display messages tagged with 'error' -->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.tags == 'error' and message.message == "Username or Password is incorrect" %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                </form>


            <p> 
                Don't have an account? 
                <br>
                <a href="{% url 'register' %}">Register</a>
            </p>

        {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors.as_text }}</div>
                {% endif %}
                
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors.as_text }}</div>
                {% endif %}
                
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors.as_text }}</div>
                {% endif %}
                
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors.as_text }}</div>
                {% endif %}
                
                <ul class="password-requirements">
                    <li>At least 8 characters.</li>
                    <li>At least one capital letter and one number.</li>
                    <li>Not entirely numeric.</li>
                    <li>Not similar to the username.</li>
                    <li>Not a commonly used password.</li>
                    

                    {% if form.errors %}
                        <ul class="errors">
                            {% for field, error in form.errors.items %}
                                <li><strong>{{ field|capfirst }}</strong>: {{ error|first }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </ul>

                <p class="terms-agreement">
                    By clicking Submit, you agree to our <a href="/media/TermsofService/TermsOfService_pdf.pdf" target="_blank">terms of services</a>.
                </p>

                <input type="submit" value="Register">
            </form>
            
            <p>
                Already have an account?
                <br>
                <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
