/* Specific Styles for Login Page */
.login-page body, .login-page html {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Flexbox Container */
.login-page #page-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Form Containers */
.login-page .form-container {
    flex: 1;
    max-width: 400px;
    margin: auto; /* Add this line to center the container */
    background: #032e57;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Form Elements */
.login-page form {
    display: flex;
    flex-direction: column;
}

.login-page input[type="text"],
.login-page input[type="password"],
.login-page input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Larger Email Field for Login Form */
.login-page .login-container input[type="text"],
.login-page .login-container input[type="email"] {
    width: 100%; /* Makes the input field take full width of the form */
}

.login-page input[type="submit"] {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.login-page input[type="submit"]:hover {
    background: #0056b3;
}

.login-page label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Error Styles */
.login-page .error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* Link Styles */
.login-page a {
    color: #007bff;
    text-decoration: none;
}

.login-page a:hover {
    text-decoration: underline;
}

/* Message and Terms Agreement */
.login-page .messages, .login-page .terms-agreement {
    margin-top: 20px;
    font-size: 0.9em;
}

/* Password Requirements */
.login-page .password-requirements {
    list-style: inside;
    padding-left: 0;
    font-size: 0.9em;
}

.login-page .password-requirements li {
    margin-bottom: 5px;
}
