/* General page and form container styles */
#page-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

/* Styles for each field */
.field-pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
    width: 48%; /* Adjust width for each field */
    margin-bottom: 15px;
}

.field-container label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.field-container input[type="text"],
.field-container input[type="date"],
.field-container textarea,
.field-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.field-container input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    opacity: 1; /* Ensure visibility */
    pointer-events: auto; /* Ensure it's clickable */
    position: relative; /* Adjust if necessary */
    z-index: 1; /* Ensure it's not overlapped */
}

.field-container input[type="file"]::-webkit-file-upload-button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.field-container input[type="file"]::file-selector-button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    }