#page-content-wrapper { 
    background-color: #373636
}
.container {
    width: 80%;
    margin: auto;
    background-color: #373636;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(125, 119, 119, 0.1);
    
}

h2 {
    color: #ddd;
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
}


#chat-display {
    border: 1px solid #313030;
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: #313030;
}

#chat-display p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

#chat-display p:nth-child(odd) {
    background-color: #313030;
}

#chat-display p:nth-child(even) {
    background-color: #313030;
}

#chat-display hr {
    border: 0;
    border-top: 1px solid #878787;
    margin: 10px 0;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

.form-group input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 20px;
    border: none;
    background-color: #0d1c2b;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.form-group button:hover {
    background-color: #141b22;
}

.form-group {
    display: flex;
    justify-content: space-between;  /* Add this line */
    margin-bottom: 20px;
}
.form-control {
    color: #ffffff; /* Change this to the color you want for the text */
    background-color: #2a2a2a; /* Change this to the color you want for the background */
}
.form-group button {
    padding: 10px 20px;
    border: none;
    background-color: #0d1c2b;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;  /* Make the button round */
    margin-left: 10px;
    width: 50px;  /* Adjust as needed */
    height: 50px;  /* Adjust as needed */
    display: flex;  /* Center the icon */
    justify-content: center;
    align-items: center;
}

.form-group button:hover {
    background-color: #141b22;
}

.form-group button i {
    margin: 0;  /* Remove any margin from the icon */
}
.message-body {
    color: #dfd2d2; /* Change to whatever color you prefer */
}
#loading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.bubble {
    width: 10px;
    height: 10px;
    background-color: #d3d3d3;
    border-radius: 50%;
    animation: bubble 1.0s infinite ease-in-out;
    margin: 0 5px;
}

.bubble:nth-child(1) {
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    animation-delay: 0.33s; 
}

.bubble:nth-child(3) {
    animation-delay: 0.66s;
}

@keyframes bubble {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}


.btn-clear {
    padding: 10px 20px;
    border: none;
    background-color: #0d1c2b;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.btn-clear:hover {
    background-color: #141b22;
}

.btn-clear i {
    margin: 0;  
}

.clear-lecture-container {
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    width: 100%; 
}

.form-check {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.form-check-input {
    margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px; /* Adjusted from 60px to 50px */
    height: 24px; /* Adjusted from 34px to 24px */
    margin-left: 10px;
    margin-top: 15px; 
  }
  
  /* The slider itself (also need ::before selector to set the knob) */
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px; /* Adjusted from 26px to 18px */
    width: 18px; /* Adjusted from 26px to 18px */
    left: 3px; /* Adjusted from 4px to 3px */
    bottom: 3px; /* Adjusted from 4px to 3px */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px); /* Adjusted from 26px to 22px */
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px; /* Adjusted from 34px to 24px */
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  label[for='noConsultCheckbox'] {
    color: white; /* Changes the text color to white */
    margin-left: 5px; /* Add some space between the checkbox and the text */
    margin-top: 15px; 
}
